@tailwind base;
@tailwind components;
@tailwind utilities;

*, html, body {
  font-family: 'Cadiz Book';
  font-size: 16px;
  line-height: 24px;
  color: #35383D;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h1 {
  font-family: 'Tobias';
  font-size: 40px;
  line-height: 48px;
}

h2 {
  font-family: 'Tobias';
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-family: 'Tobias';
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

h4 {
  font-family: 'Tobias';
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}